@if(showAlert)
{
<div class="absolute z-50 md:top-20 top-5 right-5 w-full max-w-sm animate-shake">
            @if(alertType === 'success')
            {
                <ng-container>
                <div class="flex w-full max-w-sm overflow-hidden rounded-lg shadow-md"
                    [ngClass]="{'bg-green-500': alertType === 'success'}">
                    <div class="flex items-center justify-center w-12" [ngClass]="{'bg-green-500': alertType === 'success'}">
                        <i [ngClass]="{'fas fa-check-circle': alertType === 'success'}" class="text-xl text-white"></i>
                    </div>
                    <div class="px-4 py-2 -mx-3">
                        <div class="mx-3">
                            <span class="font-semibold text-white">Success</span>
                            <p class="text-sm text-white">{{ message }}</p>
                        </div>
                    </div>
                </div>
                </ng-container>
            }
            
            @if(alertType === 'error')
            {
                <ng-container>
                <div class="flex w-full max-w-sm overflow-hidden rounded-lg shadow-md"
                    [ngClass]="{'bg-red-500': alertType === 'error'}">
                    <div class="flex items-center justify-center w-12" [ngClass]="{'bg-red-500': alertType === 'error'}">
                        <i [ngClass]="{'fas fa-exclamation-circle': alertType === 'error'}" class="text-xl text-white"></i>
                    </div>
                    <div class="px-4 py-2 -mx-3">
                        <div class="mx-3">
                            <span class="font-semibold text-white">Error</span>
                            <p class="text-sm text-white">{{ message }}</p>
                        </div>
                    </div>
                </div>
                </ng-container>
            }
</div>
}

