<div class="container mx-auto px-4 mt-5">
  <!-- User Lists Table -->
  <div class="mt-3">
    <h2 class="p-4 bg-gray-800 text-white font-medium rounded-t-lg shadow-md">User Lists</h2>

    <!-- Loading Spinner -->
    <div *ngIf="loading" class="flex justify-center items-center mt-3">
      <div class="loader"></div>
    </div>

    <!-- Data Table -->
    <div *ngIf="!loading" class="mt-6 overflow-x-auto">
      <div class="inline-block min-w-full align-middle">
        <div class="overflow-hidden border border-gray-200 rounded-lg shadow-md">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-4 py-3.5 text-sm font-medium text-left text-gray-500">User ID</th>
                <th scope="col" class="px-4 py-3.5 text-sm font-medium text-left text-gray-500">User Name</th>
                <th scope="col" class="px-4 py-3.5 text-sm font-medium text-left text-gray-500">Email</th>
                <th scope="col" class="px-4 py-3.5 text-sm font-medium text-left text-gray-500">Full Name</th>
                <th scope="col" class="px-4 py-3.5 text-sm font-medium text-left text-gray-500">Role</th>
                <th scope="col" class="px-4 py-3.5 text-sm font-medium text-left text-gray-500">Created Date</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <!-- Iterate over userInfo -->
              <tr *ngFor="let user of userInfo; let i = index; trackBy: trackById">
                <td class="px-4 py-4 text-sm whitespace-nowrap">{{ user.userId }}</td>
                <td class="px-4 py-4 text-sm whitespace-nowrap">{{ user.userName }}</td>
                <td class="px-4 py-4 text-sm whitespace-nowrap">{{ user.emailId }}</td>
                <td class="px-4 py-4 text-sm whitespace-nowrap">{{ user.fullName }}</td>
                <td class="px-4 py-4 text-sm whitespace-nowrap">{{ user.role }}</td>
                <td class="px-4 py-4 text-sm whitespace-nowrap">{{ user.createdDate | date }}</td>
              </tr>

              <!-- If no data found -->
              <tr *ngIf="userInfo.length === 0">
                <td colspan="8" class="text-center py-4 text-gray-500">No Data Found</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
