<div class="bg-white">
    <div class="flex h-screen">
      <!-- Background Image for Large Screens -->
      <div class="hidden lg:block lg:w-2/3 bg-cover bg-[url('/assets/mainback.jpg')]">
        <div class="flex items-center h-full px-20 bg-gray-900 bg-opacity-40">
          <div>
            <h2 class="text-2xl font-bold text-white sm:text-3xl">Sadi Management</h2>
            <p class="max-w-xl mt-3 text-gray-300">
              Do you want to get into the world of marketing for the best companies? Register yourself
              with the best marketing agency in the world!
            </p>
          </div>
        </div>
      </div>
  
      <!-- Signup Form Container -->
      <div class="flex items-center w-full max-w-md px-6 mx-auto lg:w-2/6">
        <div class="flex-1">
          <div class="text-center">
            <div class="flex justify-center m-2">
              <!-- Replace with your logo or icon -->
              <img class="min-w-10 min-h-10 sm:h-8" src="/assets/slack.svg" alt="">
            </div>
  
            <p class="mt-3 text-gray-500">Create your account</p>
          </div>
  
          <div class="mt-8">
            <!-- Conditionally show the signup form -->
              @if(errorMessage){
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4 animate-shake " role="alert">
                  {{ errorMessage }}
                </div>}
  
              <form (ngSubmit)="onSignup()">
                <div class="mb-4">
                  <label for="emailId" class="block text-sm font-medium text-gray-700">Email address</label>
                  <input
                    type="email"
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-1 focus:ring-blue-500 sm:text-sm"
                    [(ngModel)]="newUserobj.emailId"
                    name="emailId"
                    id="emailId"
                    placeholder="Enter email"
                    required
                  />
                </div>
  
                <div class="mb-4">
                  <label for="fullName" class="block text-sm font-medium text-gray-700">Full Name</label>
                  <input
                    type="text"
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-1 focus:ring-blue-500 sm:text-sm"
                    [(ngModel)]="newUserobj.fullName"
                    name="fullName"
                    id="fullName"
                    placeholder="Enter Full Name"
                    required
                  />
                </div>
  
                <div class="mb-4">
                  <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                  <input
                    type="password"
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-1 focus:ring-blue-500 sm:text-sm"
                    [(ngModel)]="newUserobj.password"
                    name="password"
                    id="password"
                    placeholder="Password"
                    required
                  />
                </div>
  
                <button
                  type="submit"
                  class="w-full py-2 px-4 bg-gradient-to-r from-blue-500 to-teal-500 text-white font-semibold rounded-md shadow-sm hover:bg-gradient-to-r hover:from-blue-400 hover:to-teal-400 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
                >
                  <span class="font-bold">Signup</span>
                </button>
              </form>

              <!-- /* From Uiverse.io by nathAd17 */  -->
              <a  routerLink="/login" class="md:float-start">
                    <button 
                    class="mt-8 left-0 font-sans flex justify-center gap-1 items-center mx-auto shadow-xl text-lg  bg-gray-50 backdrop-blur-md lg:font-semibold isolation-auto border-gray-500 before:absolute before:w-full before:transition-all before:duration-700 before:hover:w-full before:-left-full before:hover:left-0 before:rounded-full before:bg-gradient-to-r from-blue-500 to-teal-500 hover:text-gray-50 before:-z-10 before:aspect-square before:hover:scale-150 before:hover:duration-700 relative z-10 px-4 py-2 overflow-hidden border-2 rounded-full group"
                    type="submit"
                    >
                    Go to Login
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 16 19"
                        class="w-8 h-8 justify-end group-hover:rotate-90 group-hover:bg-gray-50 text-gray-50 ease-linear duration-300 rounded-full border border-gray-700 group-hover:border-none p-2 rotate-45"
                    >
                        <path
                        class="fill-gray-800 group-hover:fill-gray-800"
                        d="M7 18C7 18.5523 7.44772 19 8 19C8.55228 19 9 18.5523 9 18H7ZM8.70711 0.292893C8.31658 -0.0976311 7.68342 -0.0976311 7.29289 0.292893L0.928932 6.65685C0.538408 7.04738 0.538408 7.68054 0.928932 8.07107C1.31946 8.46159 1.95262 8.46159 2.34315 8.07107L8 2.41421L13.6569 8.07107C14.0474 8.46159 14.6805 8.46159 15.0711 8.07107C15.4616 7.68054 15.4616 7.04738 15.0711 6.65685L8.70711 0.292893ZM9 18L9 1H7L7 18H9Z"
                        ></path>
                    </svg>
                    </button>
                </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  