<ng-container class="bg-gray-700">

    <!-- Navbar Component -->
    <app-navbar></app-navbar>

<!-- Main Content Area (80% width) -->
<div class="flex-wrap lg:w-4/5 w-full ml-auto bg-[#F6F6F6]">
  <!-- Header with Logo and Title (Top fixed section) -->
  <div class=" top-0 z-50 flex  items-center justify-between px-6 py-4 bg-white shadow-md max-h-auto">
    <!-- Left Aligned Section -->
    <div class="flex  items-center space-x-4">
      <h3 class="font-bold font-gilroy  text-lg">Here is your <span class="pl-1 text-blue-400">{{ titlesrv.titleSubject() }}</span> </h3>
    </div>
    

    <!-- Right Aligned Section -->
    <div class="relative">
      <!-- Button containing username, role, avatar, and chevron -->
      <button (click)="toggleMenu()" 
              class="flex items-center bg-gray-100 hover:bg-gray-200 px-4 py-2 rounded-lg shadow-md transition-all duration-300 space-x-3 focus:outline-none">
        
        <!-- User details (name and role) -->
        <div class="text-left">
          <span class="block font-semibold text-sm font-gilroy text-gray-700">{{ loggedInUserName }}</span>
          <p class="text-xs italic text-gray-500">Admin</p>
        </div>
    
        <!-- Avatar and Chevron -->
        <div class="flex items-center">
          <img class="w-10 h-10 object-cover rounded-full" src="/assets/avatar.jpg" alt="User Avatar">
          <i [ngClass]="menuOpen ? 'fa-chevron-up' : 'fa-chevron-down'" 
             class="fas text-gray-500 ml-2 transition-transform duration-300"></i>
        </div>
      </button>
    
      <!-- Dropdown menu -->
      <div *ngIf="menuOpen" 
           class="absolute right-0 mt-2 w-48 bg-white border border-gray-200 rounded-md shadow-lg animate-fade-in z-10">
        <button (click)="onLogout()" 
                class="w-full px-4 py-2 text-left text-gray-700 hover:bg-gray-100 hover:text-gray-900 transition-colors duration-300">
          Logout
        </button>
      </div>
    </div>
    


  </div>
  

  <!-- Router Outlet (Main Content) -->
  <div class="p-2 sm:p-6">
    <router-outlet></router-outlet>
  </div>
</div>

</ng-container>

<!-- Alerts Component -->
<app-alerts></app-alerts>
