<!-- Mobile Nav (visible on mobile only) -->
<nav [ngClass]="{'sticky-nav': isSticky}" class="flex lg:hidden justify-between items-center my-4 px-4 py-2 sticky top-0 left-0 w-full bg-white z-50 shadow-sm">
    <a href="#hero" class="flex items-center gap-2">
      <img class="object-cover h-8 w-8" src="/assets/slack.svg" alt="Logo">
      <span class="text-[1rem] font-bold">User Management</span>
    </a>
  
    <!-- Hamburger Icon -->
    <div class="flex items-center">
      <button (click)="MobileMenu()" [ngClass]="{ 'rotate-360': isMenuOpen }" class="text-2xl transition-transform duration-500 ease-in-out animate-rotate">
        &#9776;
      </button>
    </div>
  
    <!-- Mobile Menu -->
    <div *ngIf="isMenuOpen" class="fixed inset-0 bg-gray-900 text-white shadow-lg z-50"
      [ngClass]="{
        'animate-slideInFromRight': isAnimatingIn,
        'animate-slideInToRight': !isAnimatingIn
      }">
      <div class="flex flex-col h-full">
        <div class="flex justify-between items-center p-4 border-b border-gray-200">
          <a href="#hero" class="flex items-center gap-2">
            <img class="object-cover h-8 w-8" src="/assets/slack.svg" alt="Logo">
            <span class="text-[1rem] font-bold">User Management</span>
          </a>
          <button (click)="closeMenu()" class="text-2xl">
            <i class="fa-solid fa-circle-xmark"></i>
          </button>
        </div>
  
        <!-- Navigation Links (Mobile) -->
        <div class="flex flex-col p-6 space-y-6 font-bold text-lg">
          <ng-container *ngFor="let link of navLinks; let i = index">
            <!-- Parent Links without children -->
            <ng-container *ngIf="!link.children">
              <a 
                [routerLink]="[link.path]" 
                (click)="onLinkClick(link)"
                routerLinkActive="bg-blue-600 text-white" 
                class="flex items-center py-2 px-4 rounded hover:bg-gray-700 transition-colors duration-300 ease-in-out">
                <i class="fa-solid" [ngClass]="link.icon"></i>
                <span class="ml-3">{{ link.title }}</span>
              </a>
            </ng-container>
  
            <!-- Parent with Child Links -->
            <ng-container *ngIf="link.children">
              <div>
                <a (click)="toggleDropdown(i)" class="flex items-center py-2 px-4 rounded hover:bg-gray-700 transition-colors duration-300 ease-in-out cursor-pointer">
                  <span class="ml-3">{{ link.title }}</span>
                  <i class="ml-auto fa-solid" [ngClass]="openIndex === i ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                </a>
                <div *ngIf="openIndex === i" class="ml-6 mt-2 space-y-2 transition-all duration-300 ease-in-out">
                  <a *ngFor="let child of link.children" 
                    [routerLink]="[child.path]" 
                    (click)="onLinkClick(link)"
                    routerLinkActive="bg-gray-600 text-white" 
                    class="block py-1 px-3 rounded hover:bg-gray-500 transition-colors duration-300 ease-in-out">
                    {{ child.title }}
                  </a>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </nav>
  
  <!-- Desktop Nav (visible on desktop only) -->
  <div class="fixed hidden lg:flex flex-col h-screen w-[20%] bg-gray-900 text-white left-0 top-0">
    <div class="flex items-center justify-start py-4 px-4 border-b border-gray-700">
      <img src="/assets/slack.svg" alt="Logo" class="h-8 w-8 object-cover mr-2" />
      <span class="text-2xl font-bold">User Management</span>
    </div>
  
    <!-- Navigation Links Desktop -->
    <div class="mt-10 flex flex-col space-y-4 px-4">
      <ng-container *ngFor="let link of navLinks; let i = index">
        <ng-container *ngIf="!link.children">
          <a [routerLink]="[link.path]" (click)="link.action === 'logout' ? onLogout() : null" routerLinkActive="bg-blue-600 text-white" class="flex items-center py-2 px-4 rounded hover:bg-gray-700">
            <i class="fa-solid" [ngClass]="link.icon"></i>
            <span class="ml-3">{{ link.title }}</span>
          </a>
        </ng-container>
  
        <ng-container *ngIf="link.children">
          <div>
            <a (click)="toggleDropdown(i)" class="flex items-center py-2 px-4 rounded hover:bg-gray-700 cursor-pointer">
              <span class="ml-3">{{ link.title }}</span>
              <i class="ml-auto fa-solid" [ngClass]="openIndex === i ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
            </a>
            <div *ngIf="openIndex === i" class="ml-6 mt-2 space-y-2">
              <a *ngFor="let child of link.children" [routerLink]="[child.path]" routerLinkActive="bg-gray-600 text-white" class="block py-1 px-3 rounded hover:bg-gray-500">
                {{ child.title }}
              </a>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
  