<div class=" relative grid grid-cols-1 md:grid-cols-2 gap-4 px-4 w-full">


    <!-- Chart 1 ------------------------------------------------------------------------------>
     <!-- User Registration Over Time Chart -->
      
      <div class="relative bg-white shadow-md p-4 rounded-lg min-h-[300px]">
        @if(chartLoader.a)
        {
         <div  class="flex justify-center items-center mt-3">
           <div class="loader"></div>
         </div>
        }
        @if(chartLoader.a == false)
        {
        <h3 class="text-lg font-semibold mb-4">User Registration Over Time</h3>
        <div class="chart-container relative">
          <div style="display: grid; width: 100%; height: 100%;">
            <ag-charts [options]="lineChartOptions"></ag-charts>
          </div>
        </div>
        }
      </div>
    

  
    <!-- Chart 2 -------------------------------------------------------------------------------->
     
      <div class="relative bg-white shadow-md p-4 rounded-lg min-h-[300px]">
        @if(chartLoader.b)
        {
         <div  class="flex justify-center items-center mt-3">
           <div class="loader"></div>
         </div>
        }
        @if(chartLoader.b == false)
        {
        <h3 class="text-lg font-semibold mb-4">User Registration Over Time</h3>
        <div class="chart-container relative">
          <div style="display: grid; width: 100%; height: 100%;">
            <ag-charts [options]="pieChartOptions"></ag-charts>
          </div>
        </div>
        }
      </div>
     
  
<!-- Chart 3 -------------------------------------------------------------------------------->

  <div class="relative bg-white shadow-md p-4 rounded-lg min-h-[300px]">
    @if(chartLoader.c)
    {
      <div class="flex justify-center items-center mt-3">
        <div class="loader"></div>
      </div>
    }
    @if(chartLoader.c == false)
    {
      <h3 class="text-lg font-semibold mb-4">Video Categories Distribution</h3>
      <div class="chart-container relative">
        <div style="display: grid; width: 100%; height: 100%;">
          <ag-charts [options]="donutChartOptions"></ag-charts>
        </div>
      </div>
    }
  </div>

  
<!-- Chart 4 -------------------------------------------------------------------------------->

    <div class="relative bg-white shadow-md p-4 rounded-lg min-h-[300px]">
      @if(chartLoader.d)
      {
        <div class="flex justify-center items-center mt-3">
          <div class="loader"></div>
        </div>
      }
      @if(chartLoader.d == false)
      {
        <h3 class="text-lg font-semibold mb-4">Quarterly Performance</h3>
        <div class="chart-container relative">
          <div style="display: grid; width: 100%; height: 100%;">
            <ag-charts [options]="barChartOptions"></ag-charts>
          </div>
        </div>
      }
    </div>


  </div>
  