<div class=" relative grid grid-cols-1 md:grid-cols-2 gap-4 px-4 w-full">
    <!-- Chart 1 -->
    <div class="relative bg-white shadow-md p-4 rounded-lg min-h-[300px]">
      <h3 class="text-lg font-semibold mb-4">Chart 1</h3>
      <div class="chart-container relative">
        <!-- Your chart will go here -->
        <div style="display: grid; width: 100%; height: 100%;">
          <ag-charts [options]="chartOptions"></ag-charts>
      </div>
      </div>
    </div>
  
    <!-- Chart 2 -->
    <div class="bg-white shadow-md p-4 rounded-lg min-h-[300px]">
      <h3 class="text-lg font-semibold mb-4">Chart 2</h3>
      <div class="chart-container">
        <!-- Your chart will go here -->
      </div>
    </div>
  
    <!-- Chart 3 -->
    <div class="bg-white shadow-md p-4 rounded-lg min-h-[300px]">
      <h3 class="text-lg font-semibold mb-4">Chart 3</h3>
      <div class="chart-container">
        <!-- Your chart will go here -->
      </div>
    </div>
  
    <!-- Chart 4 -->
    <div class="bg-white shadow-md p-4 rounded-lg min-h-[300px]">
      <h3 class="text-lg font-semibold mb-4">Chart 4</h3>
      <div class="chart-container">
        <!-- Your chart will go here -->
      </div>
    </div>
  </div>
  